<p-toast position="center"></p-toast>
<div class="admin-page">
  <p-card
    [header]="editmode ? 'EDITAR PRODUCTO' : 'AÑADIR PRODUCTO'"
    subheader="Añade la categoria"
  >
    <div class="p-grid p-mb-5">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary p-mr-2"
              [label]="editmode ? 'ACTUALIZAR' : 'CREAR'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="CANCELAR"
              icon="pi pi-arrow-circle-left"
              (click)="onCancle()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="name">NOMBRE</label>
              <input formControlName="name" id="name" type="text" pInputText />
              <small *ngIf="productForm.name.invalid && isSubmitted" class="p-error"
                >Nombre requerido</small
              >
            </div>
            <div class="p-field p-col">
              <label for="brand">Marca</label>
              <input formControlName="brand" id="brand" type="text" pInputText />
              <small *ngIf="productForm.brand.invalid && isSubmitted" class="p-error"
                >Marca requerida</small
              >
            </div>
            <div class="p-field p-col">
              <label for="price">Precio</label><br />
              <p-inputNumber formControlName="price" mode="decimal" [useGrouping]="false">
              </p-inputNumber>
              <small *ngIf="productForm.price.invalid && isSubmitted" class="p-error"
                >Precio requerido</small>
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-4">
              <label for="countInStock">Almacen</label><br />
              <p-inputNumber formControlName="countInStock" mode="decimal" [useGrouping]="false">
              </p-inputNumber>
              <small *ngIf="productForm.countInStock.invalid && isSubmitted" class="p-error"
                >Cantidad en almacen</small>
            </div>
            <div class="p-field p-col-4">
              <label for="category">Categoria</label><br />
              <p-dropdown
                [options]="catagories"
                formControlName="category"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Selecciona una categoria"
              ></p-dropdown>

              <small *ngIf="productForm.category.invalid && isSubmitted" class="p-error"
                >Categoria requerida</small
              >
            </div>
            <div class="p-field p-col-4">
              <label for="isFeatured">Destacado</label><br />
              <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
            </div>
            <div class="p-field p-col-12">
              <label for="description">Descripción</label><br />
              <textarea
                pInputTextarea
                formControlName="description"
                [rows]="7"
                [cols]="30"
              ></textarea>
              <small *ngIf="productForm.description.invalid && isSubmitted" class="p-error"
                >Descripción requerida</small
              >
            </div>
            <div class="p-field p-col-12">
              <label for="richDescription">Detalles del Producto</label><br />
              <p-editor formControlName="richDescription" [style]="{ height: '320px' }"></p-editor>
            </div>
            <div class="p-field p-col-12">
              <label for="name">Imagen</label>
              <input
                type="file"
                class="p-inputtext"
                accept="image/*"
                (change)="onImageUpload($event)"
              />
              <small *ngIf="productForm.image.invalid && isSubmitted" class="p-error"
                >Imagen requerida</small
              >
              <div class="p-col-2 p-mt-2 p-pl-0">
                <img style="width: 100%" [src]="imageDisplay" alt="" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
